<!DOCTYPE html>
<html lang="en" xmlns:for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <a th:href="${'/admin/add-product'}">Add</a></td>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">price</th>
            <th colspan="2" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${listData}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.category}"></td>
            <td th:text="${item.price}"></td>
            <td class="text-center"><a th:href="${'/admin/edit-product/' + item.id}"><i class="far fa-edit"></i></a></td>
            <td class="text-center"><a th:href="${'/admin/delete-product/' + item.id}"><i class="far fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>