<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>

    <link rel="stylesheet" th:href="@{/css/demo/css}"/>
</head>
<body>
<h1>HomePage</h1>
<h2>Welcome to T1909M</h2>
<a href="/showLoginPage">Login</a>
<br>
<a href="/users">Users</a>
<br>
<a href="/admin">Admin</a>

<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
</form>

<div sec:authorize="isAuthenticated()" style="color: red">Authenticaticated as <span sec:authentication="principal.authorities"></span></div>
</body>
</html>