<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div class="container">
    <h3>Product</h3>
    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="row">Name</th>
                <th scope="row">Description</th>
                <th scope="row">Date</th>
                <th scope="row">Price</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tempProduct : ${products}">
                <td th:text="${tempProduct.id}"></td>
                <td th:text="${tempProduct.productName}"></td>
                <td th:text="${tempProduct.description}"></td>
                <td th:text="${tempProduct.dateOfMan}"></td>
                <td th:text="${tempProduct.price}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>